.footer {
  background-color: #f3fbf2;
  padding: 40px 20px 40px 20px;
  display: flex;
}
.footer div {
  max-width: 1440px;
}
.footer h5 {
  font-weight: bold;
}
.footer a {
  color: var(--sce-dac);
  text-decoration: none;
  transition: all .2s;
}
.footer a:hover {
  color: var(--pri-dac);
  transition: all .2s;
}
.footer .contact-info li {
  min-width: 100px;
  font-size: 14px;
  margin-top: 20px;
}
.footer .logo {
  font-size: 1.2rem;
  font-weight: bold;
}
.footer .logo img {
  width: 217px;
  height: 58px;
  gap: 0px;
  opacity: 0px;
}
